<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

  <div class="container">
    <h1>1. Add an event at the end of your work</h1>
    <div class="section1 section">
      <p class="p1">When my girlfriend books a social event at the end of a writing session it drives me nuts. I’m literally cursing in my head. Then I realized she’s actually doing me a flow state favor.</p>
      <p class="p2">An event at the end of your work helps you rethink how much time you have. When time is scarce there is no time for procrastination. Book an event in your calendar to create motivation and the urgency to finish</p>
      <p class="p3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, velit! Soluta, aut vero a laborum impedit ea quaerat! Eaque deserunt quos ea error doloribus id tenetur commodi consequatur delectus itaque.</p>
      <p class="p4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam, possimus?</p>
      <p class="p5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia velit at suscipit, ullam temporibus explicabo, unde aperiam id porro rerum reprehenderit esse, ipsum cupiditate neque ratione repellendus distinctio. Sed, nisi.</p>
    </div>
    <div class="section2 section">
      <p>When you put out energy into the world you get it back.</p>
      <p>Flow states create energy that transcends you.</p>
    </div>
  </div>

  <div class="container">
    <h1>2. Turn into a dog and give yourself a treat.</h1>
    <div class="section1 section">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque maxime tenetur, tempora reiciendis, quisquam numquam sapiente nostrum suscipit totam dolorem, nemo quaerat mollitia sit eius saepe voluptas natus. Distinctio, illo?</p>
      <p>Flow is beautiful to watch. I call it flow state tourism.</p>
    </div>
    <div class="section2 section">
      <p>When you watch a person in flow, you have the evidence needed to work on and enhance your own flow state</p>
      <p>Beat procrastination by starting with terribly low-quality work.</p>
    </div>
  </div>

  <div class="container">
    <ul>
      <li><a href="#">Lorem, ipsum.</a></li>
      <li><a href="#">Placeat, quaerat.</a></li>
      <li><a href="#">Nulla, corrupti.</a></li>
      <li><a href="#">Ullam, in?</a></li>
      <li><a href="#">Modi, deleniti.</a></li>
      <li><a href="#">Accusamus, nam!</a></li>
      <li><a href="#">Fugiat, laboriosam.</a></li>
    </ul>
  </div>



</body>
</html>