body {
  padding: 50px; 
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


.container {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}


p {
  letter-spacing: -0.003em;
  line-height: 32px;
  font-size: 18px;
  color:#14213d;
  padding: 2.5px;
  font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
  font-style: normal;
  text-align: justify;
}

p {
  color : #f72585;
  font-weight: 500;
}

#content {
  color : #5f0f40;
  font-weight: 500;
}


.content {
  color: #9b5de5;
}


strong {
  color: black;
}

